{% extends "base.html" %}

{% block title %}SISTEMA PULSE | Voluntarios{% endblock %}

{% block header_title %}
Associar atividade a um voluntário
{% endblock %}

{% block content %}
<form action="/associar_atividade" method="post">
    <label for="voluntario">Voluntário:</label><br>
    <select name="voluntario_id" id="voluntario" required>
        <option value="">-- Selecione --</option>
        {% for voluntario in voluntarios %}
        <option value="{{ voluntario.id }}">{{ voluntario.pessoa.nome }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="atividade">Atividade:</label><br>
    <select name="atividade_id" id="atividade" required>
        <option value="">-- Selecione --</option>
        {% for atividade in atividades %}
        <option value="{{ atividade.id }}">{{ atividade.nome }}</option>
        {% endfor %}
    </select>
    <br><br>

    <input type="submit" value="Associar Atividade">
</form>
{% endblock %}