{% extends "base.html" %}

{% block title %}SISTEMA PULSE | Voluntarios{% endblock %}

{% block header_title %}
Associar função a um voluntário
{% endblock %}

{% block content %}
<form action="/associar_funcao" method="post">
    <label for="voluntario">Voluntário:</label><br>
    <select name="voluntario_id" id="voluntario" required>
        <option value="">-- Selecione --</option>
        {% for voluntario in voluntarios %}
        <option value="{{ voluntario.id }}">{{ voluntario.pessoa.nome }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="funcao">Função:</label><br>
    <select name="funcao_id" id="funcao" required>
        <option value="">-- Selecione --</option>
        {% for funcao in funcoes %}
        <option value="{{ funcao.id }}">{{ funcao.nome }}</option>
        {% endfor %}
    </select>
    <br><br>

    <input type="submit" value="Associar Função">
</form>
{% endblock %}