{% extends "base.html" %}

{% block title %}SISTEMA PULSE | Cadastro Pessoa{% endblock %}

{% block header_title %}
    Cadastrar Pessoa
{% endblock %}

{% block content %}
    <h1>Cadastro de Pessoa</h1>
    <form action="/add_pessoa" method="post">
        {% if next_page %}
            <input type="hidden" name="next_page" value="{{ next_page }}">
        {% endif %}
        
        <h2>Nova pessoa:</h2>
        <p>Nome:</p>
        <p><input type="text" name="first_name" placeholder="Nome" required /></p>
        <p>CPF:</p>
        <p><input type="text" name="cpf" placeholder="CPF" /></p>
        <p>Telefone:</p>
        <p><input type="text" name="telefone" placeholder="Telefone" /></p>
        <p>Email:</p>
        <p><input type=text name="email" placeholder="Email" /></p>
        <p>Data de Nascimento</p>
        <p><input type="date" name="data_nasc" placeholder="Data de nascimento" /></p>
        <p><input type="submit" value="Entrar" /></p>
    </form>
{% endblock %}