<head>
    <title>Confirmação Ficha de Intenção</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.1.0/css/all.min.css">


    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            background-color: #f7f9fc;
            font-weight: 500;
        }
    </style>

</head>

<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="max-w-md w-full bg-white p-6 rounded-xl shadow-lg border border-gray-100 text-center">
        <h2 class="text-2xl font-bold text-orange-700 mb-4">Obrigado!</h2>
        <p class="mb-6 text-gray-700">Sua ficha de intenção foi enviada com sucesso. Aguarde a avaliação.</p>
    </div>
</body>

</html>