{% extends "base.html" %}

{% block title %}SISTEMA PULSE | Atividades{% endblock %}

{% block header_title %}
Editar Atividade
{% endblock %}

{% block content %}
    <form action="/update_atividade" method="post">
        <input type="hidden" name="id" value="{{ atividade.id }}">

        <label for="nome">Nome da Atividade:</label><br>
        <input type="text" name="nome" id="nome" value="{{ atividade.nome }}" required>
        <br><br>

        <label for="descricao">Descrição:</label><br>
        <textarea name="descricao" id="descricao" rows="4" cols="50">{{ atividade.descricao }}</textarea>
        <br><br>

        <label for="custo_hora">Custo por Hora:</label><br>
        <input type="number" step="0.01" name="custo_hora" id="custo_hora" value="{{ atividade.custo_hora }}">
        <br><br>

        <input type="submit" value="Atualizar Atividade">
    </form>
{% endblock %}